.nav-bar__container {
    width: 320px;
    height: 100%;
    border: 1px solid white;
    box-shadow: 21px 3px 49px -9px rgba(0,0,0,0.71);
    overflow-y: scroll;
}

.nav-bar__header {
    width: 320px;
}

.nav-bar__list {
    list-style: none;
    padding: 0;
    margin: 18px 24px 50px;
}

.nav-bar__header-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar__header-nav li:nth-child(2) {
    margin-right: auto;
}

.nav-bar__header-nav li:nth-child(1) {
    margin-right: 16px;
}

.nav-bar__header-nav a {
    display: block;
}

/* Главная менюшка */

.nav-bar__main a {
    display: block;
    text-decoration: none;
    color: #1B1C21;
}

.nav-bar__footer-social a {
    display: block;
}

.nav-bar__main ul {
    margin: 0;
    padding: 0;
    padding-left: 24px;
    margin-bottom: 30px;
}

.nav-bar__main li {
    margin-bottom: 32px;
}

.nav-bar__main li:first-child::before {
    content: url(../img/highlight.svg);
    position: absolute;
    left: 0;
}

.nav-bar__main li:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-bar__main li:first-child a {
    color: #7E7E82;
}

/* Футер */

.nav-bar__footer-social {
    padding: 0;
    margin: 0;
    padding-left: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-bar__footer-social li:not(:nth-child(3)) {
    margin-right: 16px;
}

.nav-bar__footer-mail {
    margin-left: 24px;
    margin-top: 16px;
    margin-bottom: 12px;
}

.nav-bar__footer-contact-number {
    margin-left: 24px;
    font-size: 24px;
    margin-bottom: 24px;
}

.nav-bar__footer-language {
    padding: 0;
    margin: 0;
    margin-left: 24px;
    margin-bottom: 32px;
    display: flex;

}

.nav-bar__footer-language a {
    font-size: 16px;
    color: #1B1C21;
    text-decoration: none;
}

.nav-bar__footer-language li {
    margin-right: 7px;
}

.nav-bar__footer-language li:first-child a {
    color: #7E7E82;
}

.nav-bar__button:hover {
    transition: 3s;
    transform: scale(1.3);
}

.nav-bar {
    opacity: 0;
    visibility: hidden;
    z-index: 11;
    position: fixed;
    background-color: white;
    width: 320px;
    height: 100%;
    transform: translate(-350px);
    transition: 1s; 
    transition-property: transform;
    font-family: 'TTLakes-Regular';
}

.nav-bar--active {
    opacity: 1;
    visibility: visible;
    transform: translate(0px);
}

address {
    font-style: normal;
}
