.repair__more {
    display: none;
    margin-left: 24px;
}

.repair__container {
    padding: 24px;
}

.repair-slide {
    width: 192px;
    height: 72px;
    background-color: $header-color;
    border: 1px solid $swiper-border;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    padding: 0 15px;
}


